{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <div class="jumbotron">
    <p style="font-size: 70px; font-family: Helvetica">
      Track your learning.
    </p>
    <div class="container">
      <p style="font-size: 20px; font-family: Courier New">
        Make your own Learning Log, and list the topics you're learning about.
        Whenever you learn something new about a topic, make an entry
        summarizing what you've learned.
      </p>
      {% buttons %}
        <button name="submit" class="btn btn-primary">
          <a href="{% url 'users:register' %}" 
              style="text-decoration: none;font-size: 35px; 
              font-family:Copperplate; color: White">
            Register <span style="font-size:19px"> >> </span>
          </a>
        </button>
      {% endbuttons %}
    </div>
  </div>
{% endblock header %}

{% block content %}

{% endblock content %}