{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h3>Register a new account.</h3>
{% endblock header %}

{% block content %}
  <form action="{% url 'users:register' %}" method="POST" class="form">
    {% csrf_token %}
    
    {% bootstrap_form form%}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Register</button>
      <input type="hidden" name="text" value="{% url 'learning_logs:index' %}" />
    {% endbuttons %}
  </form>

{% endblock content %}